/* colors: background; #E5D4CE; pink: #E56399; orangje: DE6E4B; lightblue: 7FD1B9; purple grey: 7A6563;
*/

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body{
	font-family: 'Pontano Sans', sans-serif;
	background-color: #E5D4CE;
	height: 100%;  /* force the BODY element to match the height of the HTML element */
}

.container{
	min-width: 800px;
	margin: 0 auto;
}

/* title */
h1{
	font-family: 'Indie Flower', cursive;
	color: #E56399;
	font-size: 3em;
	text-align: center;
	margin:0;
	padding:0;
	text-shadow: 2px 2px #7A6563;
}

/* top menu */
div.mainmenu{
	font-variant: small-caps;
	text-align: center;
	margin-left: 110px; 
	display: block;
}

.mainmenu ul{
	list-style-type: none;
	display: block;
}

.mainmenu li{
	float: left;
	border: 2px solid #7A6563;
	padding: 10px;
	margin:0;
	font-weight: bold;
	background-color: #DE6E4B;
	border-radius: 10px;
}

.mainmenu a{
	color: white;
}

.mainmenu a:hover{
	color: black;
}


/* floating left menu */
.leftmenu{
	width: 130px;
	height: 100vh; /*  'vh' = viewport height of the browser window. Responsive to resizing of browser and mobile devices.*/
	float: left;
	clear: left;
	background-color: #7A6563;
	color: white;
	margin-top: 10px;
	border: 2px solid darkgrey;
	margin-right: 10px;
}

.leftmenu h3{
	color: black;
	text-decoration: underline;
	margin: 20px 0 0 20px;
	padding: 0;
}

.leftmenu ul{
	list-style-type: none;
}

.leftmenu li{
	font-variant: small-caps;
	margin: 0 0 0 -10px;
}

.leftmenu a{
	color: white;
	text-decoration: none;
}

.leftmenu a:hover{
	text-decoration: underline;
}


/* show blogs and userpages */
.maincontent{
	width: 500px;
	float: left;
}

h2{
	font-family: 'Roboto Mono', monospace;
	color: #7A6563;
	padding: 10px 0 10px 20px;
	font-size: 1.2em;
	display: inline-block;
}

h3{
	font-family: 'Roboto Mono', monospace;
	color: #7A6563;
	font-size: 1em;
	display: inline-block;
}

p{

}
img {
    display: block;
    margin: 0 auto;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: none;
	color: #DE6E4B;
}

table.excerp{
	background-color: #7FD1B9;
	border-collapse: collapse;
	border: 2px solid #7A6563;
	border-radius: 10px;
	margin-top: 10px;
}

.excerp th{
	font-family: 'Roboto Mono', monospace;
	color: #7A6563;
	background-color: #7FD1B9;
	padding-top: 10px;
}

.excerp tr{
	width: 80%;
	border-width: 2px;
	border-style: solid;
	border-color: #7A6563;
}

.excerp td{
	padding: 20px;
}

td.tekst{
	width: 80%;
}

td.category{
	font-size: 0.9em;
	font-style: italic;
	text-align: center;
	padding: 10px;
}

table.data{
	padding: 5px;
	margin: 10px 0 10px 50px;
	border-collapse: collapse;
	font-size: 0.8em;
}

form.newblog label{
	border: 1px solid black;
}
form.newblog input{
	width: 80%;
}

form.newblog textarea.excerp{
	width: 80%;
	height: 100px;
}

form.newblog textarea{
	width: 80%;
	height: 400px;
}


input[type=submit]{
	width: 200px;
	background-color: #7FD1B9;
	padding: 10px;
	font-variant: small-caps;
}

.footer{
	clear: both;
}